#home-page__container {
    background: linear-gradient(101deg, #502900, #D2AB6F, #502900, #AA8347, #502900);
    border: 6px groove saddlebrown;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
    min-height: 90vh;  
    padding-top: 30px;
}

@media screen and (max-width: 1030px) {
    #home-page__container {
        grid-template-columns: 1fr 1fr;
    }

}

@media screen and (max-width: 710px) {
    #home-page__container {
        grid-template-columns: 1fr;
    }
}